<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create Driver</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_create_driver()">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="driver.name" placeholder="Full name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Cargo</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="driver.cargo" placeholder="Cargo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>