<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cars</h5> <span class="badge" style="margin-left: 5px;"> {{pagination.total_count}} </span>
                <a ui-sref="project.new" class="btn btn-white btn-xs pull-right" title="New Car"> <i class="fa fa-plus"></i> Add new </a>
            </div>
            <div class="ibox-content no-padding">
                <table class="table table-default table-hover table-condensed no-margins">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" ng-change="pagination.getData(1)" placeholder="Name" ng-model="filters.names">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('names')" class="btn btn-default" type="button"  > 
                                            <i class="fa " ng-class="pagination.sortClass('names')" ></i>
                                        </button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-3">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Model" ng-change="pagination.getData(1)" ng-model="filters.cargo">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('cargo')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('cargo')" ></i></button>
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak dir-paginate="item in pagination.result_data  | itemsPerPage:pagination.itemsPerPage"  current-page="pagination.currentPage" total-items="pagination.total_count" >
                            <td >
                                <a ui-sref="driver.edit({id:item.id})" >{{ item.names}}</a>
                            </td>
                            <td >{{ item.cargo }}</td>
                        </tr>
                    </tbody>
                </table>
                
           
                <div class="text-right" style="padding:20px 20px 10px;">
                    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="false" on-page-change="pagination.getData(newPageNumber)" ></dir-pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</div>