<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Update user</h5>
            </div>
            <div class="ibox-content">
               	<form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_update_user()">
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="text" ng-model="user.email" placeholder="Email" readonly="true" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Names</label>
						<div class="col-lg-10">
							<input type="text" ng-model="user.names" placeholder="Full name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Role</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="user.role">
                                <option value="admin">Administrator</option>
                                <option value="collaborator">Collaborator</option>
                            </select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-lg-2 control-label">Status</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="user.status">
                                <option value="1">Enabled</option>
                                <option value="0">Disabled</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>