<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>User profile</h5>
                <button class="btn btn-info btn-xs pull-right" type="button" ng-disabled="formDisabled"> Change Password </button>
            </div>
            <div class="ibox-content">
               	<form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_update_user()">
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="text" ng-model="user.email" placeholder="Email" readonly="true" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Names</label>
						<div class="col-lg-10">
							<input type="text" ng-model="user.names" placeholder="Full name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Role</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="user.role" readonly="true" class="form-control">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">

                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>