<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Users</h5> <span class="badge" style="margin-left: 5px;"> {{pagination.total_count}} </span>
                <a ui-sref="userCreate" class="btn btn-white btn-xs pull-right" title="New user"> <i class="fa fa-plus"></i> Add new </a>
            </div>
            <div class="ibox-content no-padding">
                <div class="table-responsive">
                    <table class="table table-default table-hover table-condensed no-margins">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" ng-change="pagination.getData(1)" placeholder="Email" ng-model="filters.email">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('email')" class="btn btn-default" type="button"  > 
                                                <i class="fa " ng-class="pagination.sortClass('email')" ></i>
                                            </button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Name" ng-change="pagination.getData(1)" ng-model="filters.names">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('names')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('names')" ></i></button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-3">
                                    <div class="input-group input-group-sm" style="width:100%;">
                                        <select class="form-control" ng-model="filters.role" ng-change="pagination.getData(1)" >
                                            <option value="ALL" selected="true">Roles</option>
                                            <option value="admin">Administrador</option>
                                            <option value="collaborator">Collaborator</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="col-md-2">
                                    <input type="text" readonly="true" class="form-control input-sm" placeholder="Status"  >
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-cloak dir-paginate="item in pagination.result_data  | itemsPerPage:pagination.itemsPerPage"  current-page="pagination.currentPage" total-items="pagination.total_count" >
                                <td >
                                    <a ui-sref="userEdit({id:item.id})" >{{ item.email}}</a>
                                </td>
                                <td >{{ item.names }}</td>
                                <td >{{ item.role }}</td>
                                <td >
                                    <span class="label label-primary" ng-show="item.status==1">Enabled</span>
                                    <span class="label label-warning" ng-show="item.status==0">Disabled</span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                
           
                <div class="text-right" style="padding:20px 20px 10px;">
                    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="false" on-page-change="pagination.getData(newPageNumber)" ></dir-pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</div>