<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Companies</h5>
                <span class="badge"> {{ total_companies }}</span>
            </div>
            <div class="ibox-content">
                <canvas id="companies-chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
     <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Last 5 communications</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="feed-activity-list">
                        <div ng-repeat="communication in response.company_communications"  class="feed-element" >
                            <div class="media-body ">
                                <small class="pull-right"></small>
                                <strong>{{ communication.user }}</strong> post on company <a ui-sref="company.edit({id:communication.company_id})">{{ communication.company_name}}</a><br>
                                <p>{{ communication.message }}</p>
                                <small class="text-muted">{{ $state.elapsed_time(communication.created_at)}}</small>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More </button>

                </div>

            </div>
        </div>
    </div>
</div>



