<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Logs From <span ng-show="type==0">My</span> Activities</h5>
                <div ibox-tools></div>
            </div>            
            <div class="ibox-content inspinia-timeline form-horizontal">
                <div class="row" style='border-bottom: 1px #23c6c8 solid;'>
                    <div class="form-group col-md-6" ng-show="type==1">
                        <label class="col-lg-3 control-label text-right">User</label>&nbsp
                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model='user_log' ng-change="myLogsDate('user_id',type,user_log)">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-lg-3 control-label text-right">Date</label>&nbsp
                        <div class="col-lg-8">
                            <div class="input-group date">
                                <input type="text" class="form-control" datePicker='' date-time ng-model='date_log' ng-change="myLogsDate('date',type,date_log)"  view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item" ng-repeat='log in logs' style='border-bottom: 1px #23c6c8 solid;'>
                    <div class="row" style='border:6px solid transparent; border-left:3px solid #23c6c8;'>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 date">
                            <i class="fa fa-times" style='background:#ed5565; color:white;'  ng-show="log.type==3" title='Add'></i>
                            <i class="fa fa-plus" style='background:#1ab394; color:white;'   ng-show="log.type==2" title='Delete'></i>
                            <i class="fa fa-refresh" style='background:#1c84c6; color:white;' ng-show="log.type==1"  title='Update'></i>
                            <strong>{{log.date}}<br/></strong>
                            <strong><small class="text-info">{{$state.elapsed_time(log.date)}}</small></strong>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 content no-top-border" >
                            <p class="m-b-xs"><strong>{{log.names}}</strong></p>
                            <p class="m-b-xs"><strong>{{log.action}}</strong></p>
                            <p>{{log.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>