<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Car control</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal ng-pristine ng-valid" enctype="multipart/form-data" ng-submit="newControl()">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Car</label>
                        <div class="col-lg-10">
                            <ui-select ng-model="control.name_car" class='estees' theme="bootstrap" reset-search-input='true'>
                                <ui-select-match placeholder="Car">{{$select.selected.name}}</ui-select-match>
                
                                <ui-select-choices repeat="item.name as item in car | filter: {name:$select.search}">
                                    <h3 ng-bind-html="item.name | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                                    <small  ng-bind-html="item.model | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Driver</label>
                        <div class="col-lg-10">
                            <ui-select ng-model="control.names" class='estees' theme="bootstrap" reset-search-input='true'>
                                <ui-select-match placeholder="Driver">{{$select.selected.names}}</ui-select-match>
                
                                <ui-select-choices repeat="item.names as item in driver | filter: {names:$select.search}">
                                    <h3 ng-bind-html="item.names | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                                    <small  ng-bind-html="item.cargo | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" >Date</label>
                        <div class="col-lg-10">
                            <div class="input-group date">
                                <input type="text" class="form-control" datePicker='' ng-model="control.date" view="datetime" auto-close="true" min-view="date" format="YYYY-MM-DD" placeholder="Date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Location</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="control.location" uib-typeahead="l.location for l in location | filter:$viewValue | limitTo:8" class="form-control" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>