<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Control</h5>
                <span class="badge">{{ control.length}}</span>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-sm btn-info btn-outline" type="button" ng-click="action_control.open_form()" ng-disabled="formDisabled"> Add </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
     	<table class="footable table table-stripped toggle-arrow-tiny animated fadeInDown" data-page-size="10">
            <thead>
                <tr>
                    <th data-toggle="true" class="col-md-2">Car</th>
                    <th class="col-md-2">Driver</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Location</th>
                    <th class="col-md-2">Total Km</th>
                    <th class="col-md-2">Status</th>
                    <th class="col-md-2" data-hide="all">Observations</th>
                    <th class="col-md-2" data-hide="all">Time</th>
                    <th class="col-md-2" data-hide="all">Km</th>
                    <th class="col-md-2">Update</th>
                </tr>
            </thead>
            <tbody>
            	<tr dir-paginate="item in control | itemsPerPage:all ">
            		<td>
            			{{ item.car }}
            		</td>
                    <td>
                       {{ item.driver }}
                    </td>
            		<td> 
                        {{ item.date }}
                    </td>
                    <td> 
                        {{ item.location }}
                    </td>
                    <td>
                        {{ item.km_after-item.km_before }} Km
                    </td>
                    <td>
                        <span class="label label-primary" ng-show="item.status==1">revisado</span>
                        <span class="label label-default" ng-show="item.status==0">Pendiente</span>
                    </td>
                    <td>
                        <br><span class='col-md-12'><strong>Before: </strong>{{ item.observations_before }}</span> <span class='col-md-12'><strong>After: </strong>{{ item.observations_after }}</span>
                    </td>
                    <td>
                        <br><span class='col-md-12'><strong>Before: </strong>{{ item.hour_begin }}</span> <span class='col-md-12'><strong>After: </strong>{{ item.hour_end }}</span>
                    </td>
                    <td>
                        <br><span class='col-md-12'><strong>Before: </strong>{{ item.km_before }}Km</span> <span class='col-md-12'><strong>After: </strong>{{ item.km_after }}Km</span>
                    </td>
                    <td>
                        <button class='btn btn-success btn-sm' ng-show="item.status==0">Update</button>
                    </td>
            	</tr>
            </tbody>
            <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
        </table>

	</div>
</div>


