        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Car details</h5>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="form_submit_update_car()" type="button" ng-disabled="formDisabled"> Save </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_update_car()">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="car.name" placeholder="Name" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Model</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="car.model" placeholder="Company" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>