<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create company</h5>
            </div>
            <div class="ibox-content">
               	<form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_create_company()">
                   	
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" ng-model="company.name" placeholder="Company Name" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-lg-2 control-label">Address</label>
						<div class="col-lg-10">
							<input type="text" ng-model="company.address" placeholder="Address" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Owner</label>
                        <div class="col-lg-10">
                            <ui-select ng-model="company.user_owner" theme="bootstrap">
                                <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.names}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in user_list | filter: {names:$select.search}">
                                    <h3 ng-bind-html="item.names | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                                    <small  ng-bind-html="item.role | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Source</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="company.source" placeholder="How did you find?" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Contact Name</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="company.contact_name" placeholder="Full name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Contact Phone</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="company.contact_phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Contact Email</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="company.contact_email" placeholder="Valid email" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

