<div class="row">
    <div class="col-lg-6">
        <div ng-include="$APP.view('company/views/tab-basic-information')" ></div> 
    </div>
    <div class="col-lg-6">
        <div ng-include="$APP.view('company/views/tab-contact-list')" ></div> 
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div ng-include="$APP.view('company/views/tab-communications')" ></div> 
    </div>
    <div class="col-lg-6">
        <div ng-include="$APP.view('company/views/tab-projects')" ></div> 
    </div>
</div>