<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" >
        	Contact list
        </h4>
    </div>
    <div class="modal-body" >
        <form class="form-horizontal" ng-submit="save()">
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Names</label>
                <div class="col-xs-9 col-md-9">
                    <input class="form-control" type="text" ng-model="contact.names" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Email</label>
                <div class="col-xs-9 col-md-9">
                    <input class="form-control" type="text" ng-model="contact.email" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  >Phone</label>
                <div class="col-xs-9 col-md-9">
                    <input class="form-control" type="text" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="contact.phone" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  >Comments</label>
                <div class="col-xs-9 col-md-9">
                    <textarea rows="6" placeholder="General comments" class="form-control"  ng-model="contact.comments"></textarea>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  ></label>
                <div class="col-xs-9 col-md-9">
                   <label> <input icheck type="checkbox" ng-model="contact.default" ng-true-value="'1'" ng-false-value="'0'" > Is default contact</label>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  ></label>
                <div class="col-xs-9 col-md-9">
                    <button type="submit" class="btn btn-primary"> Save </button>
                </div>
            </div>
        </form>
    </div> 
</div>

