<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" >
        	Communications
        </h4>
    </div>
    <div class="modal-body" >
        <form class="form-horizontal" ng-submit="save()">
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Type</label>
                <div class="col-xs-9 col-md-9">
                    <select class="form-control" ng-model="communication.type" >
                        <option value="1">Call</option>
                        <option value="2">Regular</option>
                        <option value="3">Notes</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Message</label>
                <div class="col-xs-9 col-md-9">
                    <textarea class="form-control" type="text" ng-model="communication.message" /></textarea>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  ></label>
                <div class="col-xs-9 col-md-9">
                    <button type="submit" class="btn btn-primary"> Save </button>
                </div>
            </div>
        </form>
    </div> 
</div>

