<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Companies</h5> <span class="badge" style="margin-left: 5px;"> {{pagination.total_count}} </span>
                <a ui-sref="company.create" class="btn btn-white btn-xs pull-right" title="New company"> <i class="fa fa-plus"></i> Add new </a>
            </div>
            <div class="ibox-content no-padding">
                <div class="table-responsive">
                    <table class="table table-default table-hover table-condensed no-margins">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" ng-change="pagination.getData(1)" placeholder="Name" ng-model="filters.name">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('name')" class="btn btn-default" type="button"  > 
                                                <i class="fa " ng-class="pagination.sortClass('name')" ></i>
                                            </button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Address" ng-change="pagination.getData(1)" ng-model="filters.address">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('address')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('address')" ></i></button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-2">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Owner" ng-change="pagination.getData(1)" ng-model="filters.owner">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('owner')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('owner')" ></i></button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-2">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Contact" ng-change="pagination.getData(1)" ng-model="filters.contact">
                                        <span class="input-group-btn">
                                            <button  ng-click="pagination.sortData('contact')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('contact')" ></i></button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-md-1">
                                    <div class="input-group input-group-sm" style="width:100%;">
                                        <select class="form-control" ng-model="filters.status" ng-change="pagination.getData(1)" >
                                            <option value="ALL" selected="true">Status</option>
                                            <option value="1">Lead</option>
                                            <option value="2">Customer</option>
                                            <option value="3">Discard</option>
                                        </select>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-cloak dir-paginate="item in pagination.result_data  | itemsPerPage:pagination.itemsPerPage"  current-page="pagination.currentPage" total-items="pagination.total_count" >
                                <td >
                                    <a ui-sref="company.edit({id:item.id})" >{{ item.name}}</a>
                                </td>
                                <td >{{ item.address }}</td>
                                <td >{{ item.owner }}</td>
                                <td >{{ item.contact_name }} <span class="label" ng-show="item.contact_phone"> {{ $state.mask_phone(item.contact_phone)}}</span></td>
                                <td >
                                    {{ status_company[item.status] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
           
                <div class="text-right" style="padding:20px 20px 10px;">
                    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="false" on-page-change="pagination.getData(newPageNumber)" ></dir-pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</div>