<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Company details</h5>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-sm btn-primary" ng-click="form_submit_update_company()" type="button" ng-disabled="formDisabled"> Save </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_update_company()">
            <div class="form-group">
                <label class="col-lg-3 control-label">Name</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="company.name" placeholder="Company Name" class="form-control" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Address</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="company.address" placeholder="Address" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Owner</label>
                <div class="col-lg-9">
                    <ui-select ng-model="company.user_owner" theme="bootstrap">
                        <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.names}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in user_list | filter: {names:$select.search}" ui-disable-choice="(item.status==0)" >
                            <h3 ng-bind-html="item.names | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                            <small  ng-bind-html="item.role | highlight: $select.search"></small> 
                            <span ng-show="(item.status==0)" class="label label-warning-light" style="padding:2px 5px;" ng-show="true">Disabled</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
             <div class="form-group">
                <label class="col-lg-3 control-label">Source</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="company.source" placeholder="Source" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Status</label>
                <div class="col-lg-9">
                    <select class="form-control" ng-model="company.status" >
                        <option value="1">Lead</option>
                        <option value="2">Customer</option>
                        <option value="3">Discard</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
