<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Contact List</h5>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-sm btn-info btn-outline" type="button" ng-click="action_contact_list.open_form()" ng-disabled="formDisabled"> Add </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
       <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                	<tr ng-repeat="contact in contact_list" >
                		<td>{{ contact.names }} <span ng-show="contact.default==1" class="label label-warning">Primary</span></td>
                		<td>{{ $state.mask_phone(contact.phone)}}</td>
                		<td>{{ contact.email}}</td>
                		<td>
                			<button class="btn btn-xs btn-info btn-outline" ng-click="action_contact_list.open_form(contact)"> <i class="fa fa-pencil"></i></button>
                			<button class="btn btn-xs btn-danger btn-outline" ng-click="action_contact_list.remove(contact)"> <i class="fa fa-times"></i></button>
                		</td>
                	</tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
