<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Projects</h5>
            </div>
            <div class="col-lg-6 text-right">
                
            </div>
        </div>
    </div>
    <div class="ibox-content h-200">
        
    </div>
</div>
