<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Communications</h5>
                <span class="badge">{{ communications.length}}</span>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-sm btn-info btn-outline" type="button" ng-click="action_communication.open_form()" ng-disabled="formDisabled"> Add </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
     	<table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Info</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-10">Message</th>
                </tr>
            </thead>
            <tbody>
            	<tr  dir-paginate="communication in communications | itemsPerPage:5 " pagination-id="dirpagination_communications"  >
            		<td>
            			<i class="fa fa-user" tooltip-placement="top" uib-tooltip="{{ communication.user }}"></i>
            			<i class="fa fa-clock-o"  tooltip-placement="top" uib-tooltip="{{ $state.elapsed_time(communication.created_at) }}"></i>
            		</td>
            		<td>{{ types_communication[communication.type] }}</td>
            		<td>{{ communication.message}}</td>
            	</tr>
            </tbody>
        </table>
       <div class="row">
            <div class="col-lg-12 text-right">
                <dir-pagination-controls
                    max-size="3"
                    direction-links="true"
                    boundary-links="false" 
                    auto-hide="false" 
                    pagination-id="dirpagination_communications" >
                </dir-pagination-controls>
            </div>
       </div>
	</div>
</div>