<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create Project</h5>
            </div> 
            <div class="ibox-content">
                <form class="form-horizontal ng-pristine ng-valid" ng-submit="form_submit_create_project()">
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="project.name" placeholder="Name" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company</label>
                        <div class="col-lg-10">
                            <ui-select ng-model="project.company" class='estees' theme="bootstrap" reset-search-input='true'>
                                <ui-select-match placeholder="Select a company">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="company.id as company in companys | filter: {name:$select.search}"  refresh="autocomplete($select.search)" refresh-delay="0">
                                    <h3 ng-bind-html="company.name | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">End Date</label>
                        <div class="col-lg-10">
                            <div class="input-group date">
                                <input type="text" class="form-control" datePicker='' date-time ng-model="project.end_date" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" ng-model="project.description" placeholder="Description">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formDisabled"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
