<div class="row">
    <div class="col-lg-6">
        <div ng-include="$APP.view('project/views/tab-basic-information')" ></div> 
    </div>
    <div class="col-lg-6">
        <div ng-include="$APP.view('project/views/tab-member-list')" ></div> 
    </div>
    <div class="col-lg-12">
        <div ng-include="$APP.view('project/views/tab-task')" ></div> 
    </div>
	<div class="col-lg-4">
        <div ng-include="$APP.view('project/views/tab-task-chart')" ></div> 
    </div>
</div>
