<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" >
        	Task
        </h4>
    </div>
    <div class="modal-body" >
        <form class="form-horizontal" ng-submit="newTask()">
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Task</label>
                <div class="col-xs-9 col-md-9">
                    <input class="form-control" type="text" ng-model="task.name" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Asigned</label>
                <div class="col-xs-9 col-md-9">
                    <ui-select ng-model="task.user_id" class='estees' theme="bootstrap">
                        <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.names}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in list_members | filter: {names:$select.search}">
                            <h3 ng-bind-html="item.names | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                            <small  ng-bind-html="item.role | highlight: $select.search"></small>
                    </ui-select-choices>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >Start Date</label>
                <div class="col-xs-9 col-md-9">
                    <div class="input-group date">
                        <input type="text" class="form-control" datePicker='' ng-model="task.start_date" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label" >End Date</label>
                <div class="col-xs-9 col-md-9">
                    <div class="input-group date">
                        <input type="text" class="form-control" datePicker='' date-time ng-model="task.end_date" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-3 col-md-3 control-label"  ></label>
                <div class="col-xs-9 col-md-9">
                    <button type="submit" class="btn btn-primary"> Save </button>
                </div>
            </div>
        </form>
    </div> 
</div>