<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-4">
                <h5>Member List</h5>
            </div>
            <div class="col-lg-8 text-right">
                <div class='form-horizontal'>
                    <div class="form-group col-md-10">
                        <label class="col-lg-3 control-label">Member</label>&nbsp
                        <div class="col-lg-8">
                            <ui-select ng-model="project.user_id" class='estees' theme="bootstrap" reset-search-input='true'>
                                <ui-select-match placeholder="Select a user in the list...">{{$select.selected.names}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in users | filter: {names:$select.search}">
                                    <h3 ng-bind-html="item.names | highlight: $select.search" style="margin-bottom: 2px;"></h3>
                                    <small  ng-bind-html="item.role | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-info btn-outline" type="button" ng-click="action_project_list.add_Member()" ng-disabled="formDisabled"> Add </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
       <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Names</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                	<tr ng-repeat="member in members">
                		<td>{{ member.names}}</td>
                		<td>{{ member.role}}</td>
                        <td >
                            <span class="label label-primary" ng-show="member.status==1">Enabled</span>
                            <span class="label label-warning" ng-show="member.status==0">Disabled</span>
                        </td>
                		<td>
                			<button class="btn btn-xs btn-danger btn-outline" ng-click="action_project_list.remove(member)"> <i class="fa fa-times"></i></button>
                		</td>
                	</tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
