<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Progress</h5> <span class="badge pull-right" style="margin-left: 5px;"> {{progress}} completed</span>
            </div>
            <div class="ibox-content" >
                <div class="row" >
                <canvas id="task-chart" width="640" height="480"></canvas></div>
            </div>
        </div>
    </div>
</div>