<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-6">
                <h5>Task</h5>
                <span class="badge">{{ tasks.length}}</span>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-sm btn-info btn-outline" type="button" ng-click="action_task.open_form()" ng-disabled="formDisabled"> Add </button>
            </div>
        </div>
    </div>
    <div class="ibox-content">
     	<table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Creadted By</th>
                    <th class="col-md-2">Asigned</th>
                    <th class="col-md-2">Task</th>
                    <th class="col-md-1">Created At</th>
                    <th class="col-md-2">Start Date</th>
                    <th class="col-md-2">End Date</th>
                    <th class="col-md-2">Status</th>
                </tr>
            </thead>
            <tbody>
            	<tr  dir-paginate="task in tasks | itemsPerPage:10 " pagination-id="dirpagination_task" class="animated slideInDown" >
            		<td class='text-center'>
            			<i class="fa fa-user" tooltip-placement="top" uib-tooltip="{{ task.created }}"></i>
            		</td>
                    <td>
                       {{ task.asigned }}
                    </td>
            		<td> {{task.nota}}</td>
            		<td class='text-center'><i class="fa fa-clock-o"  tooltip-placement="top" uib-tooltip="{{ $state.elapsed_time(task.create_at) }}"></i></td>
                    <td> {{task.start_date}}</td>
                    <td>{{ task.end_date}}</td>
                     <td >
                        <span class="label label-success" ng-show="task.status==2">Complete</span>
                        <span class="label label-primary" ng-show="task.status==1">In Progress</span>
                        <span class="label label-default" ng-show="task.status==0">To-do</span>
                    </td>
            	</tr>
            </tbody>
        </table>
       <div class="row">
            <div class="col-lg-12 text-right">
                <dir-pagination-controls
                    max-size="3"
                    direction-links="true"
                    boundary-links="false" 
                    auto-hide="false" 
                    pagination-id="dirpagination_task" >
                </dir-pagination-controls>
            </div>
       </div>
	</div>
</div>
