<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Task</h5> <span class="badge" style="margin-left: 5px;"> {{pagination.total_count}} <input type="hidden" value=''> </span>
            </div>
            <div class="ibox-content no-padding">
                <table class="table table-default table-hover table-condensed no-margins">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" ng-change="pagination.getData(1)" placeholder="Project" ng-model="filters.project_name">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('project_name')" class="btn btn-default" type="button"  > 
                                            <i class="fa " ng-class="pagination.sortClass('project_name')" ></i>
                                        </button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Task" ng-change="pagination.getData(1)" ng-model="filters.nota">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('nota')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('nota')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="Created At" ng-change="pagination.getData(1)" ng-model="filters.created_at">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('created_at')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('created_at')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="Start Date" ng-change="pagination.getData(1)" ng-model="filters.start_date">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('start_date')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('start_date')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="End Date" ng-change="pagination.getData(1)" ng-model="filters.end_date">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('end_date')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('end_date')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="Created By" ng-change="pagination.getData(1)" ng-model="filters.user_created">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('user_created')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('user_created')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="Status" ng-change="pagination.getData(1)" ng-model="filters.status" readonly="">
                                    <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('status')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('status')" ></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="col-md-1">
                                <div class="input-group input-group-sm">
                                     <input type="text" class="form-control" placeholder="update" ng-change="pagination.getData(1)" ng-model="filters.status" readonly="">
                                     <span class="input-group-btn">
                                        <button  ng-click="pagination.sortData('status')" class="btn btn-default" type="button"  > <i class="fa " ng-class="pagination.sortClass('status')" ></i></button>
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-cloak dir-paginate="item in pagination.result_data  | itemsPerPage:pagination.itemsPerPage"  current-page="pagination.currentPage" total-items="pagination.total_count" >
                            <td >
                                <a ui-sref="project.edit({id:item.project_id})" >{{ item.name}}</a>
                            </td>
                            <td >{{ item.nota }}</td>
                            <td >{{ item.create_at }}</td>
                            <td >{{ item.start_date}}</td>
                            <td >{{ item.end_date }}</td>
                            <td >{{ item.created}}</td>
                            <td class='text-center'>
                                <span class="label label-success" ng-show="item.status==2">Complete</span>
                                <span class="label label-primary" ng-show="item.status==1">In Progress</span>
                                <span class="label label-default" ng-show="item.status==0">To-do</span>
                            </td>
                            <td class='text-center'>
                                <button class="btn btn-success btn-xs dim" style='padding-top:0' ng-show="item.status==1" ng-click='action_update_task.update(item.id,2)'>Complete</button>
                                <button class="btn btn-primary btn-xs dim" style='padding-top:0' ng-show="item.status==0" ng-click='action_update_task.update(item.id,1)'>In Progress</button>
                            </td>
                        </tr>
                    </tbody>
                </table>           
                <div class="text-right" style="padding:20px 20px 10px;">
                    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="false" on-page-change="pagination.getData(newPageNumber)" ></dir-pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</div>